<header>
    <div class="container-fluid ">
      <div class="row mt-1">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center justify-content-md-start"
          style="background-color: #3D5396;">
          <a class="nav-link" href="index.html" title="Escuela de Educacion Tecnica N°662">
            <h1>E.E.T.P. y S.O. N° 662</h1>
          </a>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center justify-content-md-end"
          style="background-color: #3D5396;">
          <img class="imglogo" style="width: 80px; height: 110px;" src="assets/imagenes/logo.png" alt="Logo de la institucion">
        </div>

        <nav class="navbar navbar-expand-sm" style="display: inline-block; background-color: #27345d; color: white;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            <span class="ml-3 text-white" title="Menú">Menú</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
                @if (btnInicio) {
              <li class="nav-item" (click)="btnInicio = false">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="router-link-active" title="Inicio" >Inicio</a>
              </li>
              }
              <li class="nav-item">
                <a class="nav-link" routerLink="/todasNovedades" title="Novedades" (click)="btnInicio = true" >Novedades</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" title="Horarios de clases" >
                  Horarios de Clases
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/horariosTecnico" title="Modalidad Tecnico" (click)="btnInicio = true">Modalidad
                      Tecnico</a></li>
                  <li><a class="dropdown-item" routerLink="/horariosBachiller" title="Modalidad Baachiller" (click)="btnInicio = true">Modalidad
                    Bachiller</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" title="Material de estudio" >
                  Material de estudio
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/firebase" title="Modalidad Tecnico" (click)="btnInicio = true">Modalidad
                      Tecnico</a></li>
                  <li><a class="dropdown-item" routerLink="/firebase" title="Modalidad Baachiller" (click)="btnInicio = true">Modalidad
                    Bachiller</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/acercaDe" title="Novedades" (click)="btnInicio = true" >Acerca de nuestra Institución</a>
              </li>
            </ul>
          </div>
        </nav> 
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>