
{{materialesBachiller|json}}

<!-- 
<div class="container col-12 align-items-center" style="margin-top: 20px;">
    <div class="row">
        <div class=" ml-3 col-sm-12 col-md-6">
            <div class="d-flex align-items-center mb-3">
                <p class="p-textHorBach">Seleccione su año de cursado:</p>
                <div class="dropdown ms-3">
                    <a class="nav-link dropdown-toggle btndesc" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" title="Cursos Tecnico"
                        style="background-color: #3D5396; color: white;">
                        cursos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="seleccionarCurso('primeroA')">1° A</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('primeroD')">1° D</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('segundoB')">2° B</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('segundoD')">2° D</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('terceroA')">3° A</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('terceroB')">3° B</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('cuartoA')" >4° A</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('cuartoB')" >4° B</a></li>
                        <li><a class="dropdown-item" (click)="seleccionarCurso('quintoU')" >5° U</a></li>
                     
                    </ul>
                </div>
            </div>
        </div>

        <div class="ol-sm-12 col-md-6">
            <div id="pdfContent1" class="info-content">
                <div class="d-flex align-items-center mb-3">
                    <p class="p-textHorBach">Seleccione la materia de 1° A:</p>
                    <div class="dropdown ms-3">
                        <a class="nav-link dropdown-toggle btndesc" href="#" id="navbarDropdownMenuLink1" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" title="Cursos Tecnico"
                            style="background-color: #3D5396; color: white;">
                            Materias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <li><a class="dropdown-item" (click)="matSelcc('opcion1')"></a></li>
                            <li><a class="dropdown-item" (click)="matSelcc('opcion2')"></a></li>
                            <li><a class="dropdown-item" (click)="matSelcc('opcion3')"></a></li>
                            
                          </ul>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="materia1-1" class="container info-content card p-3" style="display: block; margin: 0 auto;">
    <p class="p-textHorBach mb-3">Biología - Curso 1° A Bachiller</p>
      <div class="row justify-content-center">
        <div class=" card col-4 m-5 d-flex flex-column align-items-stretch" style="width: 15rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJtO6uv43q9zsvMWoiGDmAojfwiXDftVAqMw&usqp=CAU" class="card-img-top" alt="Portada de documento 1 de Biología">
          <div class="card-body d-flex flex-column">
              <h5 class="card-title d-flex justify-content-center">Biología 1</h5>
              <br>
              <div class="d-flex justify-content-center mb-2">                           
                  <a href="materialestudio/Manual del plan de negocios.pdf" class="btn btn-primary mr-2" target="_blank">Ver documento PDF</a>
              </div>
              <div class="d-flex justify-content-center">                           
                  <a href="ruta/del/documento.pdf" class="btn btn-success" download>Descargar PDF</a>
              </div>
          </div>
      </div>
    </div>
</div>
<br style="margin:10px;"> -->