
<main>
    <div class="fondoBienv d-flex align-items-center justify-content-center">
        <div class="cardBlur">
            <div class="col-12 text-center">
                <h2 class="ttlBienv">¡Bienvenidos!</h2>
                <p class="pBienv">Este es el sitio web de la Escuela de Educación Técnica N°662</p>
                <a href="acercade.html" style="background-color: #3D5396; color: aliceblue; border-radius: 1rem;" class="btn btn-primary btn-lg">Más Información</a>
            </div>
        </div>
    </div>
</main>

<app-ultimas-nov></app-ultimas-nov>