<!-- <footer class="piepag">
    <p>{{ infoPiePagina?.Telefono }}</p>

       
    <div class="card-header titulofooter"><b>Contactate con nosotros</b></div>
    <div class="card-body text-secondary">
      <p class="card-text">
        <div id="contTel">
            <h6 style="display: inline-block;" class="dtcont">Teléfono: </h6>
            <span id="nrotel" class="dtcont"><b>{{infoPiePagina.telefono}}</b></span>
            <button id="boton-copiar-nrotel" class="btn btn-link" title="Copiar Numero de teléfono">
                <i class="fa-regular fa-copy" data-description="copiar"></i>
            </button>
        </div>
        <div id="ContCorreo">
            <h6 style="display: inline-block;" class="dtcont">Correo: </h6>
            <span id="dircorreo" class="dtcont" > {{infoPiePagina.correo}}</span>
            <button id="boton-copiar-dircorreo" class="btn btn-link" title="Copiar Correo">
                <i class="fa-regular fa-copy" data-description="copiar"></i>
            </button>
        </div>
        <div id="ContDir">
            <h6 style="display: inline-block;" class="dtcont">Dirección: </h6>
            <a [href]="infoPiePagina.URLgoogleMaps" 
            target="_blank" title="Direccion de la institución" class="dtcont">{{infoPiePagina.direccion}}</a>
        </div>
        <br>
        <div id="ContRdes col-12">
            <h6 class="dtcont col-sm-12 col-md-12"  >Seguinos en nuestras redes sociales: </h6>
            <section class="redes col-sm-12 col-md-12 justify-content-sm-end">
                <a [href]="infoPiePagina.facebook" class="btn btn-primary ml-4" title="Facebook" target="_blank">
                    <i class="fa-brands fa-facebook"></i><h6>Facebook</h6>
                </a>
                <a [href]="infoPiePagina.instagram" class="btn btn-primary btncont mx-4 my-4" style="background-color: #db3603;" title="Instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i><h6>Instagram</h6>
                </a>
                <a [href]="infoPiePagina.youtube" class="btn btn-primary btncont" style="background-color: #ff0000;" title="YouTube" target="_blank">
                    <i class="fa-brands fa-youtube"></i><h6>YouTube</h6>
                </a>
            </section>
            
        </div>
    
    </div>

</footer> -->